body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: #1abc9c;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background: #ecf0f1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box p{
  margin: 2rem;
}

.box button{
  background: #1abc9c;
  border: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  color: white;
  cursor: pointer;
  padding: .5rem 1rem;
  outline: none;
}

.box button:active{
  transform: scale(0.98);
}
